/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'Arial', sans-serif;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-weight: var(--text-main-font-weight);
  padding: 102px 26vi 105px;
}

@supports (font-variation-settings: normal) {
    .page {
        font-family: var(--main-font), 'Arial', sans-serif;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    max-inline-size: 696px;
    margin-block-end: 107px;
  }

  .header__title {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
    margin-block-end: 20px;
  }

  .header__project-name {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
    margin-block-end: 25px;
  }

  .theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-block-end: 25px;
  }

  .cards-list {
    display: flex;
    flex-direction: column;
    gap: clamp(50px, 54px, 54px)
  }

  .cards-list__card {
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
  }

  @media (width: 320px) {

    .header {
      margin-block-end: 104px;
    }


  }