/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@supports (font-variation-settings: normal) {
  .page {
      font-family: 'Inter-Variable';
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter-Variable', 'Arial', sans-serif;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-variation-settings: 'wght' var(--text-main-font-weight);
  padding: 102px 372px 105px;
}

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    margin-block-end: 107px;
  }

  .header__title {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
    margin-block-end: 20px;
  }

  .header__project-name {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
    margin-block-end: 25px;
  }

  .theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
    margin-block-end: 25px;
  }

  .theme-menu__button {
    position: relative;
    text-transform: uppercase;
  }

  .theme-menu__button:focus {
    border: none;
    outline: none ;
  }

  .theme-menu__button:focus-visible::after{
   content: '';
   color: currentColor;
   animation: focus-underline 0.3s ease;
  }


  .theme-menu__button:disabled {
    opacity: 0.6;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .theme-menu__button:hover {
    opacity: 0.6;
    cursor: pointer;;
    transition: 0.3s ease;
  }

  .theme-menu__button:disabled::before {
    content: '▶';
    position: absolute;
    margin-inline-start: -24px;
    color: currentColor;
    inline-size: 16px;
    block-size: 13px;
    animation: arrow 0.5s ease-in-out alternate-reverse infinite;

  }


  .cards-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .cards-list__card {
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
  }

  .card__title {
    font-variation-settings: 'wght' var(--title-main-font-weight); 
    font-size: 18px;
    padding: 3px 14px;
  }

  .card__picture {
    background-size: cover;
    inline-size: 100%;
    border-block-start: 2px solid var(--text-color);
    border-block-end: 2px solid var(--text-color);
  }

  .card__text {
    font-variation-settings: 'wght' var(--text-main-font-weight); 
    line-height: 1.16;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-block-end: 25px;
  }


  @media (width: 320px) {

    .header {
      margin-block-end: 104px;
    }


  }