:root.theme-light {
  --bg-color: #fff;
  --text-color: #000;
  --text-main-font-weight: 400;
  --title-main-font-weight: 700;
}

.theme-light .card__like-button:hover,
.theme-light .save-button:hover,
.theme-light .ok-button:hover {
  color: var(--bg-color);
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .theme-light.watermark {
    text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
      1px 0 var(--bg-color), 0 -1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

:root.theme-dark {
  --bg-color: #000;
  --text-color: #00cc14;
  --line-color: var(--bg-color);
  --grad-start-color: #007f0c;
  --grad-finish-color: #004306;
  --text-main-font-weight: 465;
  --title-main-font-weight: 785;
}

.theme-dark .card__like-button:hover,
.theme-dark .save-button:hover,
.theme-dark .ok-button:hover {
  color: var(--text-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .theme-dark.watermark {
    text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
      1px 0 var(--bg-color), 0 -1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000;
    --text-main-font-weight: 400;
    --title-main-font-weight: 700;
  }

  .page {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-variation-settings: "wght" var(--text-main-font-weight);
  }

  .card__like-button:hover,
  .save-button:hover,
  .ok-button:hover {
    color: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #00cc14;
    --line-color: var(--bg-color);
    --grad-start-color: #007f0c;
    --grad-finish-color: #004306;
    --text-main-font-weight: 465;
    --title-main-font-weight: 785;
  }

  .card__like-button:hover,
  .save-button:hover,
  .ok-button:hover {
    color: var(--text-color);
  }
}
